.form-label {
    color: $b6;
    text-transform: uppercase;
}

.form-group {
    margin-bottom: 2rem;
}

button {
    border: none;
    outline: none;

    &:hover, &:active, &:focus {
        border: none;
        outline: none;
    }
}

.form-control {
    font-size: inherit;
}

input.form-control, select.form-control, textarea.form-control {
    min-height: 2.6875rem;
    border: none;
    border: 0.125rem solid $d;
    border-radius: 8px;
    box-shadow: none;
    outline: none;

    &:active, &:focus {
        border-color: $primary;
        box-shadow: none;
        outline: none;
    }
}

input[type="file"] {
    font-size: 0.75rem;
    
}
