@import "reset.scss";
@import "_partials/_typography";
@import "_partials/_variables";
@import "_partials/_functions";
@import "_partials/_mixin";
@import "_partials/_animations";
@import "bootstrap-5.2.3/bootstrap.scss";
@import "_partials/_controls";



body {
    font-family: 'Inter', sans-serif;
    background: rgb(255, 255, 255);
    overflow-x: hidden;
    color: black;
}

h1,
h2,
h3,
h4,
h5 {

    line-height: 1.1;
}

p {
    font-size: 18px;
}

section {
    margin: 120px 0;

    @media screen and (max-width: 800px) {
        margin: 80px 0;
    }
}

li {
    list-style: none;
}

a {

    cursor: pointer;
}

.select-control {
    width: 100%;
    min-height: 2.6875rem;
    padding: 10px;
    color: #7f757d;
    border-color: #dddddd;
    border-radius: 8px;
}

.heading-wrapper {
    .section-heading {
        font-size: 48px;
        font-weight: 700;
        color: rgb(0, 0, 0);
        line-height: 1.1;
        position: relative;

        // &::after {
        //     content: "";
        //     position: absolute;
        //     bottom: -10px;
        //     left: 0;
        //     width: 70px;
        //     height: 5px;
        //     background-color: $primary-color-varient;

        // }

        @media screen and (max-width: 800px) {
            font-size: 32px;
        }




    }


}

.description {
    font-size: 18px;
    color: $light-text;
    max-width: 510px;
    text-align: justify;

    @media screen and (max-width: 800px) {
        max-width: 400px;
    }
}


hr {
    color: white;
    background: white
}


.read-more {
    color: $primary-color;
}

._error-inner {
    color: $primary-color;
}

._form-thank-you {
    color: rgb(88, 255, 102);
    font-size: 20px;
    text-align: justify;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid white;
}

.company-logo {
    width: 160px;
}


.margin-top-section{
    margin-top: 140px
}







@import "./locals/menu-component.scss";
@import "./locals/banner-component.scss";
@import "./locals/product-service-section.scss";
@import "./locals/my-account.scss";
@import "./locals/side-bar-component.scss";
@import "./locals/shop.scss";
@import "./locals/cart.scss";
@import "./locals/product-detail.scss"