.my-account-wrapper {
    background: rgb(236, 236, 236);
    width: 100%;
    min-height: 100vh;
    padding: 20px 0px;
    color: black;


    .section-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        
        gap: 40px;
        



        .contents-section {
            flex: 1;    
            padding: 40px; 
           
            background-color: rgb(255, 255, 255);

            @media screen and (max-width: 1000px) {
                padding: 20px;
            }
         

            .my-form {
                max-width: 600px;

                .my-lable {
                    color: rgb(247, 0, 0);
                }

                .update-btn {
                    padding: 10px 20px;
                    background: $primary-color;
                    color: white;
                    border-radius: 8px;
                    
                }
            }
        }
    }

    @media (max-width: 1000px) {
        .section-container {
            flex-direction: column;
        }

       
    }

}